* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ad974f;
  --light-color: #eaeaea;
  --dark-color: #231f20;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-height: 120px;
  max-width: 120px;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 10px;
  position: sticky;
}

.navbar .container {
  display: flex;
  border-bottom: #ad974f;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 15px 15px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar ul li a i {
  margin-right: 15px;
}

.navbar ul li:last-child a {
  margin-left: 15px;
}

/* Hero */
.hero {
  margin-bottom: 10px;
}

.hero .container {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.hero .hero-content {
  width: 100%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Video */
.video {
  padding: 10px 0 40px;
}

.video .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: auto;
}

.video .video-preview {
  margin-bottom: 20px;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

/* Utility Classes */
.container1 {
  max-width: 100%;
  margin-right: 15px auto;
  margin-left: 15px auto;
  padding: 0 15px;
  background-image: url("/images/pngtree-grey-gradient-abstract-studio-background-image_388901.jpg");
  background-size: cover;
}
.container2 {
  max-width: 100%;
  margin-right: 15px auto;
  margin-left: 15px auto;
  padding: 0 15px;
  background-size: cover;
  background-color: #eaeaea;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Card */
.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 20px;
  background: #ad974f;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: #ad974f;
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2;
  font-weight: 600;
  margin: 2px 0 20px;
  color: #231f20;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #ad974f;
}

.bg-light {
  background: var(--light-color);
  color: #fff;
}

.bg-dark {
  background: var(--dark-color);
  color: #231f20;
}

.bg-black {
  background: black;
  color: #fff;
}
.bg-love {
  background: #231f20;
  color: #ccc;
}

/* Hamburger Button */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #eaeaea;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }

  .container {
    background-size: cover;
    max-height: fit-content;
  }

  .hero-content,
  .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero-buttons .btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }

  .testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }

  .testimonials .testimonials-grid,
  .pricing .pricing-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }

  /* Text */
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}
/* policies footer*/
.f2 {
  padding: 20px 0;
}
.f2 ul li {
  line-height: 2.5;
}
.f2 a {
  color: #ccc;
}
.f2 i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.footer-grid1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.f2 .footer-grid1 > div {
  text-align: center;
}

.footer-main {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0%;
}

@media (max-width: 600px) {
  .footer-about,
  .footer-services,
  .footer-contact,
  .footer-follow {
    width: 100%;
    margin-bottom: 20px;
  }
}
.vid {
  width: 100%;
  height: 100%;
}
.dropbtn {
  background-color: #eaeaea;
  color: #333333;
  padding: 15px;
  font-size: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eaeaea;
  min-width: 160px;
  font-family: "Poppins", sans-serif;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #ad974f;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-family: "Poppins", sans-serif;
}

.dropdown:hover .dropbtn {
  background-color: #eaeaea;
}
/*links*/
.l1 {
  color: blue;
}
.hero-buttons {
  padding-bottom: 40px;
}
.container4 {
  display: block;
  height: fit-content;
  width: fit-content;
}
img#img2 {
  height: 1000px;
  width: 1000px;
}
#vid {
  height: 560px;
  width: 213px;
}
/*about us*/
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.to1 {
  width: 100%;
  height: auto;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
